body{
	margin:0;
	padding:0;
}

/*Структура сайта*/
div.top{
	height:5%;
	width:70%;
	margin: 0 auto;
	background:#7e71b1;
}
div.header{
  width:70%;
	margin: 0 auto;
}
/*div.Title{
	width:1100px;
	margin: 0 auto;
}
*/
.Contact{
	float:right;
	margin-top:2%;
}
.Menue{
	
	height:3%;
	width:70%;
	margin: 0 auto;
	background:#7e71b1;
}
